# .gitignore
_pycache__/
dots.code-workspace
dots*.pyc

.vscode/launch.json
dots_9556U.jpg
dots_9556U.jpg
dots_9556U.jpg
dotsDrawWidget.py
dotsDrawWidget.py
dotsDrawWidget.py
plays/original-demo.play
paths/tmp.path
plays/tmp.play
plays/tmp.play
txy/doral_IMG-copy.png
txy/doral_IMG.txy
__pycache__/spriteWorks.cpython-310.pyc
txy/doral_IMG-copy.png
txy/doral_IMG.txy
txy/doral_IMG-copy.png
__pycache__/spriteLoupe.cpython-310.pyc
*.pyc
backgrounds/tma.bkg
plays/tmp.play
dotsShadowMaker (original).py
dotsDropCanvas.py
paths/demo.path
plays/demo.play
paths/demo.path
plays/demo.play
plays/demo.play
paths/demo.path
paths/demo-1320.path
paths/demo-1502.path
plays/demo-1350.play
paths/demo-1320.path
paths/demo-1502.path
plays/demo-1350.play
*.png
dotsBkgWrks.py
dotsSliderPanel.py

