# .gitignore
_pycache__/
dots.code-workspace
dots*.pyc

.vscode/launch.json
dots_9556U.jpg
dots_9556U.jpg
dots_9556U.jpg
dotsDrawWidget.py
dotsDrawWidget.py
dotsDrawWidget.py
plays/original-demo.play
StartHere .md
