# .gitignore
_pycache__/
dots.code-workspace
dots*.pyc

.vscode/launch.json
dots_9556U.jpg
dots_9556U.jpg
dots_9556U.jpg
dotsDrawWidget.py
dotsDrawWidget.py
dotsDrawWidget.py
plays/original-demo.play
StartHere .md
StartHere .md
paths/tmp.path
plays/tmp.play
plays/tmp.play
txy/doral_IMG-copy.png
txy/doral_IMG.txy
__pycache__/spriteWorks.cpython-310.pyc
txy/doral_IMG-copy.png
txy/doral_IMG.txy
txy/doral_IMG-copy.png
