/*css stylesheet file for buttons, groups,
scrollbars in dotsQt.py*/

QPushButton { 
  background: white;
  color: black;
  font-size: 12px;
  border: 1px solid rgb(125, 125, 125);
  border-radius: 2px;
  padding: 2px 2px 2px 2px;
} 

QPushButton:Pressed {
  background: rgb(160, 183, 214);
  color:white;
  border: 1px solid white;
}

QPushButton:Disabled {
  background: rgb(220,220,220);
  color:dimgrey;
  border: 1px solid rgb(125,125,125);
} 

QMessageBox QPushButton {
  background: rgb(38, 168, 228);
  color: white;
  border: 1px solid rgb(200,200,200);
  font-size: 12px;
  border-radius: 2px;
  padding: 3px 12px 3px 12px;
}

QStatusBar {
  background: rgb(38, 168, 228);
  color: white;
  font-size: 13px;
  font-weight: bold;
  max-height: 20px;
}

QGroupBox {
  background: rgb(195, 195, 195);
  border: 1px solid rgb(100,100,100);
  border-radius: 2px;
  font-size: 13px;
  color:  rgb(40,40,40);
  margin-top: 5px;
} 

QGroupBox:title {
  background: rgb(195, 195, 195);
  padding: -10px 3px 5px 3px;  
} 

QScrollArea:vertical {
  background-color:light grey;
  border: .5px solid rgb(125,125,125);
}

QScrollBar:add-line:vertical {
  border: 1px solid  rgb(240, 240, 240);
}

QScrollBar:handle:vertical {
  background-color: rgb(210, 210, 210);
  min-height: 100px;
} 

QTableView {
  border: 1px solid rgb(125,125,125);
} 

QMainWindowTitle  {
  background: rgb(195, 195, 195);
  font-size: 33px;
}
           
QMenu {
    background-color: rgb(245,245,245); 
    border: 3px solid dodgerblue;
    font-size: 14px;
}

QMenu::item { 
  background-color: transparent;
}

QMenu::item:selected { 
    background-color: rgba(30,144,255,200);
}

